name: yash_traders
description: "Yash Traders - Premium Jewellery with Live Gold & Silver Rates"
publish_to: 'none'

version: 1.0.1+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  firebase_core: ^3.11.0
  firebase_database: ^11.3.10
  url_launcher: ^6.3.2
  intl: ^0.19.0
  marquee: ^2.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.13.1

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/app_icon_final.png"
  min_sdk_android: 21 
  adaptive_icon_background: "assets/images/gradient_bg.png" 
  adaptive_icon_foreground: "assets/images/android_foreground.png"
  web:
    generate: true
    image_path: "assets/images/app_icon_final.png"
    background_color: "#0F3D2E"
    theme_color: "#0F3D2E"
  windows:
    generate: true
    image_path: "assets/images/app_icon_final.png"
    icon_size: 48 
  macos:
    generate: true
    image_path: "assets/images/app_icon_final.png"

flutter:
  uses-material-design: true

  assets:
    - assets/images/logo.png
    - assets/images/splash_logo.png
    - assets/images/header_logo.png
    - assets/images/header_pattern.png



  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
